[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AGPRIS"]
	path = AGPRIS
	url = https://github.com/edoardobaldoni/agpris
[submodule "multilaterals"]
	path = multilaterals
	url = https://github.com/cran/multilaterals
